.container {
  display: flex;
  justify-content: space-evenly;
}

.answer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.true {
  background-color: rgb(71, 178, 22);
}

.wrong {
  background-color: rgb(254, 88, 51);
}

.answer-input {
  margin-right: 20px;
}
