.container {
  display: flex;
  justify-content: space-evenly;
}

.answer-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 20px;
}

.true {
  background-color: rgb(71, 178, 22);
}

.wrong {
  background-color: rgb(254, 88, 51);
}

.answer-input {
  margin-right: 20px;
}

.answer-table {
  width: 200px;
}

th {
  margin-right: 10px;
  border: 1px solid black;
  border-collapse: separate;
}

.answer-cell {
  border: 1px solid black;
}
