.test-select-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}

.test-container {
  width: 30%;
  background-color: rgb(255, 240, 201);
}

.icon-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
