.App {
  text-align: center;
  align-items: center;
}

.confirmation {
  color: red;
  font-size: small;
  margin-bottom: 100px;
}

.warning {
  color: red;
}

.modeButton {
  background-color: #ff5a1f;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.modeButton:hover {
  opacity: 0.7;
}

.mainButton {
  background-color: white;
  color: #ff5a1f;
  font-weight: 700;
  border: 1px solid #ff5a1f;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.mainButton:hover {
  opacity: 0.7;
}

.uxHelp {
  font-size: small;
}
