.answerInput {
  width: 200px;
  height: 40px;
  font-size: medium;
  border-radius: 10px;
  margin-left: 20px;
  border: 1px solid gray;
}

.answerInput:focus {
  border-color: #ff5a1f;
}

.scoringButton {
  background-color: #ff5a1f;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.scoringButton:hover {
  opacity: 0.7;
}

.clearButton {
  background-color: white;
  color: #ff5a1f;
  font-weight: 700;
  border: 1px solid #ff5a1f;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
}

.clearButton:hover {
  opacity: 0.7;
}
